%h1 Calculate price
%p So that we can calculate the price of your insurance, please tell us a couple of facts.

= simple_form_for(@quote, html: { class: 'form-horizontal' }) do |f|
  = f.input :age, required: true
  = f.input :trip_duration, required: true
  = f.submit 'Get quote'
